@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
:root {
    --bg-color: #29241d;
    --bg-color-alternative: #524c44;
    --text-color: #f8f8df;
    --text-color-alternative: #918e7e;
    --primary-color: #cc8548;
}

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}


/* Base desktop breakpoint */


/* Font system */

h1 {
    color: var(--text-color);
    font-size: 84px;
    font-weight: 300;
    margin: 15px 0 40px 0;
}

h2 {
    color: var(--text-color);
    font-size: 67px;
    font-weight: 300;
    margin: 15px 0 40px 0;
}

h3 {
    color: var(--text-color);
    font-size: 54px;
    font-weight: 400;
    margin: 15px 0 40px 0;
}

h4 {
    color: var(--text-color);
    font-size: 43px;
    font-weight: 400;
    margin: 15px 0 40px 0;
}

h5 {
    color: var(--text-color);
    font-size: 34px;
    font-weight: 600;
    margin: 15px 0 40px 0;
}

.false-h5 {
    color: var(--text-color);
    font-size: 34px;
    font-weight: 600;
    margin: 15px 0 40px 0;
}

h6 {
    color: var(--text-color);
    font-size: 28px;
    font-weight: 700;
    margin: 15px 0 40px 0;
}

.subtitle1 {
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600;
}

.body1 {
    color: var(--text-color-alternative);
    font-size: 22px;
    font-weight: 400;
}

.subtitle2 {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 600;
}

.body2 {
    color: var(--text-color-alternative);
    font-size: 18px;
    font-weight: 400;
}

.button {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 600;
}

.caption {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
}

.overline {
    color: var(--text-color);
    font-size: 11px;
    font-weight: 400;
}


/* Tags */

html {
    background-color: var(--bg-color);
}

body {
    -webkit-animation: fade-in 0.5s ease-in-out both;
    animation: fade-in 0.5s ease-in-out both;
}

nav {
    border-bottom: solid 1px var(--bg-color-alternative);
}

ul {
    list-style-type: none;
}

a {
    color: var(--text-color-alternative) !important;
}

input {
    background-color: var(--bg-color-alternative);
    border-color: var(--bg-color-alternative);
    border-radius: 500px;
    border-width: 0px;
    color: var(--text-color);
    padding-left: 17px;
}

p {
    color: var(--text-color);
}

footer {
    border-top: solid 1px var(--bg-color-alternative);
}


/* Elements */

.cta-1 {
    background-color: var(--primary-color);
    border-radius: 500px;
    border-width: 0px;
    color: var(--text-color);
    display: inline-block;
    padding: 10px 25px 10px 25px;
    text-align: center;
}

.cta-2 {
    border: solid;
    border-color: var(--bg-color-alternative);
    border-radius: 500px;
    border-width: 1px;
    color: var(--text-color);
    display: inline-block;
    padding: 10px 25px 10px 25px;
    text-align: center;
}


/* Classes */

.hero-text_wrapper {
    display: flex;
    flex-direction: column;
}

.hero-h1 {
    margin-bottom: 30px;
    max-width: 15ch;
}

.hero-p {
    margin-bottom: 50px;
    max-width: 34ch;
}

.hero-buttons_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
}

.hero-img {
    display: relative;
    height: 100%;
    width: 100%;
}

.hero-img_mobile {
    clip-path: circle();
    object-fit: cover;
}

.section-services {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
}

.services-content_wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.services-h2 {
    margin-bottom: 80px;
    max-width: 27ch;
    text-align: center;
}

.services-cards_wrapper {
    display: grid;
    /* Dejo la grilla en 3 ya que no puedo resolver el problema del iframe */
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

.services-card_item {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.services-img {
    border-radius: 50px;
    height: 318px;
    object-fit: cover;
    overflow: hidden;
    width: 285px;
}

.section-review {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
}

.review-content_wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.review-h2 {
    margin-bottom: 100px;
    text-align: center;
}

.review-card_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.review-card_item {
    align-items: stretch;
    background-color: var(--bg-color-alternative);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    height: 200px;
    margin: 20px;
    padding: 20px;
    width: 285px;
}

.review-text {
    width: 25ch;
}

.review-person_wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: auto;
}

.review-img {
    clip-path: circle();
    height: 38px;
    margin: 0 15px 0 0;
    object-fit: cover;
    width: 38px;
}

.section-newsletter {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 50vh;
}

.newsletter-h2 {
    margin-bottom: 80px;
    text-align: center;
}

.newsletter-content_wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.newsletter-form_wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.newsletter-form_item {
    background-color: var(--bg-color-alternative);
    border-radius: 500px;
    border-width: 0px;
    display: inline-flex;
}

.footer-content_wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-social {
    height: 32px;
    margin: 20px 15px 20px 15px;
    width: auto;
}

.section-start_mision {
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1508163834378-c10174deaf8e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1973&q=80);
    background-position: 10% 30%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 100vh;
    object-fit: cover;
}

.start-h2 {
    max-width: 20ch;
}

.start-body {
    max-width: 55ch;
}

.section-end_mision {
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1417816491410-d61e1546e539?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 100vh;
    object-fit: cover;
}

.end-body {
    max-width: 55ch;
}

.section-servicios {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5% 0 5% 0;
}

.servicios-h2 {
    text-align: center;
}

.servicios-card_item {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    padding-bottom: 30px;
    width: 100%;
}

.servicios-card_text {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 35px 35px 35px 85px;
    width: 100%;
}

.servicios-img {
    height: auto;
    width: 615px;
}

.section-projects {
    margin: 5% 0 5% 0;
}

.projects-content_wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projects-h2 {
    margin-bottom: 80px;
    text-align: center;
}

.gallery-content_wrapper {
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

.gallery-img {
    border-radius: 50px;
    height: 318px;
    object-fit: cover;
    overflow: hidden;
    width: 285px;
}

.contact-content_wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 83vh;
    justify-content: center;
}

.contact-h2 {
    text-align: center;
}

.checkbox_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 25px 0;
    width: 100%;
}

.textarea {
    width: 100%;
}

.nombres {
    display: flex;
    flex-direction: row;
    margin: 0 0 15px 0;
}

.datos {
    display: flex;
    flex-direction: row;
}


/* Animations */

.cta-1:hover {
    -webkit-animation: shadow-drop-center 0.4s ease-in-out both;
    animation: shadow-drop-center 0.4s ease-in-out both;
}

@-webkit-keyframes shadow-drop-center {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}

@keyframes shadow-drop-center {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}

.cta-2:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
    transition: background-color 0.5s;
    transition: color 0.5s;
    -webkit-animation: shadow-drop-center 0.4s ease-in-out both;
    animation: shadow-drop-center 0.4s ease-in-out both;
}

a:hover {
    color: var(--text-color);
    transition: color 0.5s;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}